{% extends 'base.html' %}

{% block title %}一覧{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row index-title">
    <h1>社報一覧</h1>
  </div>
  <div class="row">
    <div class="col-8">
        <div class="pagination-info">{{ pagination.info }}</div>
        {% if name %}
        <div class="bulletin-add">
          <a href="/bulletins/add">
            <button class="btn btn-outline-dark bulletin-add-btn" name="add">社報を追加</button>
          </a>
        </div>
        {% endif %}
    </div>
    <div class="col-4 access-ranking">
      <h2 class="h-ranking-login">アクセスランキング</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr class="table-header">
              <th>タイトル</th>
              <th>作成者</th>
              <th>更新日時</th>
          </tr>
        </thead>
          {% for conte in contents %}
          <tr class="table-contents">
              <td class="table-contents-title" style="width:55%"><a href="{{ url_for('view', bulletin_id=conte.id) }}">{{ conte.title }}</a></td>
              <td class="table-contents-nickname" style="width:20%">{{ conte.nickname }}</td>
              <td class="table-contents-modified" style="width:25%">{{ conte.modified }}</td>
          </tr>
          {% endfor %}
      </table>
    </div>
    <div class="col-4">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr class="ranking-header">
            <th>タイトル</th>
            <th>アクセス</th>
          </tr>
        </thead>
          {% for rank in ranking %}
          <tr class="ranking-contents">
              <td class="ranking-title" style="width:80%"><a href="{{ url_for('view', bulletin_id=rank['bulletin_id']) }}">{{ rank['title'] }}</a></td>
              <td class="ranking-count" style="width:20%">{{ rank['count'] }}</td>
          </tr>
          {% endfor %}
      </table>
    </div>
  </div>
  <div class="row">
    {{ pagination.links }}
  </div>
</div>
{% endblock %}