{% extends 'base.html' %}

{% block title %}パスワード更新{% endblock %}

{% block content %}

<div class="container">
    <h2>パスワードの更新</h2>
    <div class="py-3">
        <form method="post" action="{{ url_for('users_password')}}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group row">
                <label for="current-password" class="col-md-4 col-form-label">
                    <font size="5">現在のパスワード</font><span class="badge badge-warning">必須</span>
                </label>
                <div class="col-md-8">
                    <input class="current-password-input form-control" type="password" name="password_current">
                </div>
            </div>
            <div class="form-group row">
                <label for="new-password" class="col-md-4 col-form-label">
                    <font size="5">新しいパスワード</font><span class="badge badge-warning">必須</span>
                </label>
                <div class="col-md-8">
                    <input class="new-password-input form-control" type="password" name="password">
                </div>
            </div>
            <div class="form-group row">
                <label for="new-password-confirm" class="col-md-4 col-form-label">
                    <font size="5">新しいパスワード確認用</font><span class="badge badge-warning">必須</span>
                </label>
                <div class="col-md-8">
                    <input class="new-password-confirm-input form-control" type="password" name="password_confirm">
                </div>
            </div>
            <div class="form-group row justify-content-end">
                <div class="col-md-1">
                    <button class="btn btn-dark" type="submit">更新</button>
                </div>
            </div>
        </form>
    </div>
    <a href="/">トップに戻る</a>
</div>
{% endblock %}